docs/.vitepress/dist
docs/.vitepress/cache
docs/.vitepress/config.generated.json
node_modules/
**/__pycache__/
shell.nix
.envrc

# added by aggregation
docs/projects
docs/contributing
docs/explanation
docs/how-to
docs/projects
docs/reference
docs/tutorials
