codespell==2.4.2
pytest
pyyaml
# glrd @ git+https://github.com/gardenlinux/glrd.git@v4.2.0
# gardenlinux @ git+https://github.com/gardenlinux/python-gardenlinux-lib.git@c1dfb1390e5352476cbfcee8ad809a04d808903b
sphinx
sphinx-markdown-builder
sphinx-rtd-theme
sphinx-click
sphinxcontrib-autoprogram
